{% extends 'base.html'%}
{% load bootstrap3 %}
{% block main %}

<div class="row">
        <div class="col">
    <h2>Update MovMensalista: {{mov_mensalista}}</h2>


    <form action="{% url 'core_movmensalista_update' mov_mensalista.id %}" method="POST">
        {% csrf_token %}

        {% bootstrap_form form %}

        <button type="submit" class="btn btn-primary">Salvar </button>
        <a href="{% url 'core_movmensalista_delete' mov_mensalista.id %}" class="btn btn-danger">Delete</a>
    </form>
        </div>
</div>
{% endblock %}